@import url('https://fonts.googleapis.com/css?family=B612+Mono:400,400i|Inconsolata:400,700|Roboto:400,400i&display=swap');


body {
    background-color: white;
    color: #ffffff;
    /* make sure you set family and size on border */
    font-family: 'B612 Mono', monospace;
    font-size: 16px;
    padding-bottom: 1.500em;

}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: font-family: 'Roboto', sans-serif;
    margin: 10px 0 1.000em 0;
    color: lightgray
}

h1 {
    background-color: none;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 1.000em;
    padding-bottom: 1.000em;
    padding-right: 1.000em;
    font-size: 2.000em;
    font-family: font-family:'Ubuntu', sans-serif;
    float: right;
    margin-right: 1.000em;
}



@media screen and (min-device-width:375px) and (max-device-width:768px) {
    .wrapper {
        width: 90%;
    }

    img {
        max-width: 90%;

    }

    h2 {}

    p {

        font-size: 1.10em;
    }



}


@media screen and (min-device-width: 375px) {

    img {
        max-width: 100%;
        max-height: inherit;
    }

}


h2 {
    font-size: 1.125em;
    font-weight: none;
    border-bottom: 1px solid white;
    color: tan;
    padding-top: 65px;


}


h3.oheading {
    font-size: 1.125em;
    border-bottom: 1px solid white;
    color: tan;
    padding-top: 65px;

}


h3.build {
    color: tan;
    padding-top: 2.188em;
    font-size: 1.125em;

}


h3.north {
    color: tan;
    padding-top: 2.188em;
    font-size: 1.125em;

}


p {
    font-size: 1.125em;
    line-height: 1.150em;
    margin-bottom: 1.500em;
    color: darkgrey;
    padding-top: 1.000em;



}

/* about us page  */


p.overview {
    font-size: 100%;
    line-height: 1.150em;
    margin-bottom: 1.500em;
    color: darkgrey;
    padding-top: 1.000em;


}

p.build {
    font-size: px;
    line-height: 1.150em;
    margin-bottom: 1.500em;
    color: darkgrey;
    padding-top: 1.000em;
    padding-bottom: 100px;


}


p.north {
    padding-bottom: 150px;
}


p.big {
    color: orange;
    background: whitesmoke;
    padding: 1.000em;

}


p.histpara {
    line-height: 33px;
}

ul.histpara {
    line-height: 1.150em;
    margin-left: 60px;
    padding-bottom: 60px;

}


ul {
    color: darkgrey;

}

ul li {
    margin-left: 2em;
    list-style-type: disc;
    color: darkgrey;
    font-size: 1.125em;
}


ul li a {}


/* anchor or link styles */

a {
    color: darkcyan;
    background-color: none;
    text-decoration-line: none;

}


a:hover {

    text-decoration: underline;
}

a:visited {}


a:active {

    color: coral;
}



/* main containers */


.wrapper {
    width: 980px;
    margin: 0px auto;
}

/* media query for phone */



header {
    background-color: white;
    height: 88px;
    text-align: center;

}

nav {
    background-color: white;
    text-align: left;
    float: left;
    margin-top: 55px;

}


nav ul {
    margin-left: none;

}

nav ul li {
    display: inline;
    /*    padding: 10px;*/
    font-size: 14px;
    margin-left: none;

}

nav ul li a {
    color: black;
    background-color: transparent;
    text-decoration: none;
    padding: 0 10px;
}

nav ul li a:hover,
a.currentpage {
    background-color: wheat;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;

}

.subnav {
    /*    border-top: 1px solid whitesmoke;*/
    /*    border-bottom: 1px solid whitesmoke;*/
    padding: 1.000em 0;
    /*    background-color: whitesmoke;*/
}

.subnav ul {
    margin-left: none;

}

.subnav ul li {
    display: inline;
    padding: 10px;
    margin-top: -10px;

}

.subnav ul li a {
    color: burlywood;
    background-color: none;
    text-decoration: none;
    padding: 0 10px;
}

.subnav ul li a:hover,
.subnav a.currentpage {
    background-color: wheat;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;

}

.subnav ul li:first-of-type {
    /*    padding-left: 0;*/
}



.hero {
    background: url(../images/j.front.jpg);
    height: 650px;
    background-position: center;
    background-size: cover;

}


.hero2 {
    background: url(../images/front_facade.JPEG);
    height: 650px;
    background-position: center;
    background-size: cover;

}



.pool {
    background: url(../images/pool.jpg);
    height: 650px;
    background-position: center;
    background-size: cover;

}



.hero.boyd {
    background: url(../images/courtyard2.jpeg);
    background-size: cover;

}

.hero-text {
    /*    background: rgba(255, 255, 255, 0.7);*/
    width: 100%;
    position: absolute;
    bottom: 20px;
    margin-left: 20px;

}

.hero-text h2 {
    /*    set font size etc here*/
}


.sketch {
    background: url(../images/front-sketch2.png);
    background-size: cover;
    height: 650px;
    background-position: bottom;
    max-height: 80%;
}

.mapimg {
    max-height: 50%;
    max-width: 80%;
}

.brutalist {
    background: url(../images/2.jpg);
    background-size: cover;
    height: 650px;
    background-position: bottom;
    max-height: 80%;



}

.leftimg {
    background: url(../images/hero-image.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;

}



.topimg {
    background: url(../images/robin.jpg);
    height: 650px;
    background-position: top;
    background-size: cover;

}


.hero3img {
    background: url(../images/hero3.jpg);
    height: 650px;
    background-position: bottom;
    background-size: cover;
    position: relative;
}


.bambooimg {
    max-width: 40%;
    margin-right: 1.000em;
    padding-bottom: 1.000em;

}

.crtimg {
    max-width: 80%;
    object-position: center;
    margin-right: 1.000em;
    padding-bottom: 1.000em;
}


.nav-container {
    margin-top: -50px;
}


.welcome-container {}

main {
    background-color: white;
    padding: 10px 15px;
    overflow: auto;


}

footer {
    background-color: blanchedalmond;
    padding: 1.000em;
}

footer p {
    font-size: 60%;



}


ul.features {
    font-size: 1.125em;


}


}

.frontimg {
    padding-top: 1.000em;
    padding-bottom: 2.000em
}

.sketchimg {}



main img {
    max-width: 100%;
}

.gallery {
    width: 100%;
}

.gallery img {
    max-width: 300px;
}

@media screen and (max-device-width:450px) {
    header {
        height: 160px;
    }

    h1 {
        margin-bottom: 0;
        padding-right: 0;
        margin-right: 0;
    }

    nav {
        margin-top: 0;
    }

    nav ul li {
        font-size: 148%;
        padding: 0;
    }
}

@media screen and (min-device-width: 425px) and (max-device-width:1025px) {
    h1 {
        padding-right: 0;
        margin-right: 0;
    }
}
